.banner {
  background-color: #ffd700;
  color: #000;
  text-align: center;
  padding: 0.5rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.banner p {
  margin: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
